# ~/.ssh/config
# Managed by chezmoi

# =============================================================================
# Global defaults
# =============================================================================
ServerAliveInterval 15
ServerAliveCountMax 3
HostKeyAlgorithms=+ssh-dss

{{- if eq .chezmoi.os "darwin" }}
# Colima (Docker) SSH configs
Include ~/.config/colima/ssh_config
Include ~/.colima/ssh_config
{{- end }}

# =============================================================================
# 1Password SSH Agent
# =============================================================================
{{- if eq .chezmoi.os "darwin" }}
# Use 1Password SSH agent for all connections by default
Host *
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}

# =============================================================================
# GitHub
# =============================================================================
Host github.com
    Hostname ssh.github.com
    Port 443
    User git
    IdentityFile ~/.ssh/personal_github.pub

# =============================================================================
# Personal machines
# =============================================================================
Host Mac-mini.local
    IdentityFile ~/.ssh/personal_id_ed25519.pub

Host 100.117.214.99
    IdentityFile ~/.ssh/personal_id_ed25519.pub

# =============================================================================
# MARCC (JHU HPC)
# =============================================================================
Host login.marcc.jhu.edu
    ControlMaster auto
    ControlPath ~/.ssh/control:%h:%p:%r
    ForwardX11Trusted yes
    ForwardX11 yes

# =============================================================================
# NYU HPC (Greene)
# =============================================================================
Host greene.hpc.nyu.edu dtn.hpc.nyu.edu gw.hpc.nyu.edu
    StrictHostKeyChecking no
    ServerAliveInterval 60
    ForwardAgent yes
    UserKnownHostsFile /dev/null
    LogLevel ERROR

Host hpcgwtunnel
    HostName gw.hpc.nyu.edu
    ForwardX11 no
    StrictHostKeyChecking no
    LocalForward 8027 greene.hpc.nyu.edu:22
    UserKnownHostsFile /dev/null
    User rb3926

Host greene
    HostName localhost
    Port 8027
    ForwardX11 yes
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    LogLevel ERROR
    User rb3926
