{{- $hostname := .chezmoi.fqdnHostname -}}
{{- with .chezmoi.status }}
{{- printf "commit from %s\n\n" $hostname -}}
{{- range .Ordinary -}}
{{ if and (eq .X 'A') (eq .Y '.') -}}Add {{ .Path }}
{{ else if and (eq .X 'D') (eq .Y '.') -}}Remove {{ .Path }}
{{ else if and (eq .X 'M') (eq .Y '.') -}}Update {{ .Path }}
{{ else if and (eq .X '.') (eq .Y 'M') -}}Update {{ .Path }}
{{ else }}{{with (printf "unsupported XY: %q" (printf "%c%c" .X .Y)) }}{{ fail . }}{{ end }}
{{ end }}
{{- end -}}
{{- range .RenamedOrCopied -}}
{{ if and (eq .X 'R') (eq .Y '.') }}Change attributes of {{ .Path }}
{{ else if and (eq .X 'C') (eq .Y '.') -}}Copy {{ .OrigPath }} to {{ .Path }}
{{ else }}{{with (printf "unsupported XY: %q" (printf "%c%c" .X .Y)) }}{{ fail . }}{{ end }}
{{ end }}
{{- end -}}
{{- range .Unmerged -}}
{{ fail "unmerged files" }}
{{- end -}}
{{- range .Untracked -}}
Add {{ . }}
{{- end -}}
{{- end -}}
